DATABASE_URL="postgresql://postgres:password@localhost:5432/resumeforge?schema=public"
JWT_SECRET="dsdefdefwfewrfwefewrdwerfef"
PORT=3001
CLIENT_URL="https://resume.datacaptain.in"
GOOGLE_CLIENT_ID="343746941144-ucvr6cnrsi85fopbqjmsd7voc1ucgdig.apps.googleusercontent.com"
